/*******************************
Style reset - look for the line saying where to start editing!
*******************************/

*, ::after, ::before, ::backdrop, ::file-selector-button {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0 solid;
    font-family: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

:root {
    color-scheme: light dark;
}
button, input, select, optgroup, textarea, ::file-selector-button {
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    border-radius: 0;
    background-color: transparent;
    opacity: 1;
}

img, svg, video, canvas, audio, iframe, embed, object {
    display: block;
}

img, video {
    max-width: 100%;
    height: auto;
}

a {
    color: inherit;
    -webkit-text-decoration: inherit;
    text-decoration: inherit;
}

ol, ul, menu {
    list-style: none;
}

hr {
    border-bottom: 1px solid var(--border-color);
    margin: 16px 0;
}

/*******************************
Start writing your styles below this line!
*******************************/

